<nav class="navbar p-3">
  <!-- Logo -->
	<img class="logo d-none d-lg-block" src="assets/img/logo.svg" alt="Logo de az! player">
	<!-- Botón de colapso -->
	<div class="collapse-btn d-flex d-lg-none">
    <img class="logo-mobile" src="assets/img/logo.svg" alt="Logo de az! player">
    <fa-icon
      (click)="isCollapsed = !isCollapsed"
      class="icon"
      [icon]="collapse"
      [fixedWidth]="true"
      size="3x"></fa-icon>
  </div>
  <!-- Navegación -->
  <div class="collapse" [collapse]="isCollapsed" [isAnimated]="true" role="navigation">
    <div class="navbar-nav">
      <div class="nav-item">
        <a class="nav-link" href="#inicio" (click)="collapseNavbar(); scrollTo('inicio');">
          <fa-icon [icon]="home" [fixedWidth]="true"></fa-icon> Inicio
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#sobre" (click)="collapseNavbar(); scrollTo('sobre');">
          <fa-icon [icon]="info" [fixedWidth]="true"></fa-icon> Sobre az! player
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#cambios" (click)="collapseNavbar(); scrollTo('cambios');">
          <fa-icon [icon]="changes" [fixedWidth]="true"></fa-icon> Cambios
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#descargar" (click)="collapseNavbar(); scrollTo('descargar');">
          <fa-icon [icon]="download" [fixedWidth]="true"></fa-icon> Descargar
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link support" (click)="collapseNavbar(); openSupport(supportModal);">
          <fa-icon class="icon-container" [classes]="['icon']" [icon]="heart" [fixedWidth]="true"></fa-icon> Apoya al proyecto
        </a>
      </div>
    </div>
  </div>
  <!-- Derechos de autor -->
  <div class="copyright d-none d-lg-block">
    <p class="no-margin">Copyright © 2019 Alejandro Suárez</p>
    <div class="github">
      <a class="github-link" href="https://github.com/AlexAzumi">
        <fa-icon [icon]="github" [fixedWidth]="true"></fa-icon> AlexAzumi
      </a>
    </div>
  </div>
</nav>

<!-- Modal de apoyo -->
<ng-template #supportModal>
  <div class="modal-header support-header">
    <h4 class="modal-title pull-left">¡Quiero apoyar a este proyecto!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Este es un proyecto realizado enteramente como <b>pasatiempo</b>, pero como todos sabemos
      no se puede vivir de sólo pasatiempos. <br>Por ello, si quieres apoyar para que esto crezca
      y siga vigente puedes comprarme un <i>café</i> desde mi página de <b>Ko-Fi</b> (enlace más abajo).
    </p>
    <p>
      También puedes inspirarme a continuar con esto regalándome osu!support, con eso me incentivas
      a continuar y aparte aportas al futuro de este maravilloso juego rítmico llamado <b>osu!</b>.
    </p>
    <p>
      Si contribuyes a este proyecto tu nombre será agregado a nuestra lista de personas
      generosas (más aparte yo estaré muy agradecido contigo c:)
    </p>
    <div class="support-buttons">
      <a class="btn btn-primary mr-2" href="https://ko-fi.com/alexazumi">Donar por Ko-Fi</a>
      <a class="btn btn-primary" href="https://osu.ppy.sh/users/3783551">Mi perfil de osu!</a>
    </div>
  </div>
</ng-template>
