<div id="sobre" class="title">
	<p class="m-0">Sobre az! player</p>
</div>

<div class="about-container">
  <p class="about-information">
    <b>az! player</b> es un reproductor de música desarrollado con <i>Electron</i> el cual te permite
    escuchar tu música favorita del videojuego rítmico <i>osu!</i>, esto sin necesidad de iniciar
    el juego. <br><br>
    <b>Nota:</b> La aplicación está aún en desarrollo.<br>
    Nuevas características y solución de errores llegarán con el paso del tiempo.
  </p>
</div>
