<div class="container-fluid h-100">
  <div class="row h-100">
    <!-- Navbar -->
    <div class="col-lg-3 p-0">
      <app-navbar></app-navbar>
    </div>
    <!-- Contenido -->
    <div class="col-lg-9 p-0 main-container">
      <!-- Inicio -->
      <app-home></app-home>
      <!-- Acerca -->
      <app-about></app-about>
      <!-- Changelog -->
      <app-changelog></app-changelog>
      <!-- Descargas -->
      <app-download></app-download>
      <!-- Pie de página -->
      <app-footer></app-footer>
    </div>
  </div>
</div>
