// Variables de Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.support-header {
  background-color: $primary;
  color: $light;
}

.support-buttons {
  display: flex;
  justify-content: space-around;

  .btn {
    width: 100%;
  }
}
